

.bghome{
    width: 100%;
    /* height: 100vh; */
   /* padding: 2px; */
   /* margin-top: 200px; */
}


.bghome h1{
    margin: 30px;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 150px;

}
.cardimags{
    
    height:250px;
    border:none;
}
.mySwiper11{
    margin-bottom: 150px;
}

.mySwiper22{
    width: 80%;
    height: 250px;
    margin-bottom: 150px;
}
.SwiperSlide2{
    /* position: absolute; */
}
.CartBtn2 {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 208, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: absolute;
    bottom: 0;
  }
  

  .sections{
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background-image: url(../image/2.jpg); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  /* d965ab */

  .flowersRight{
    position: absolute;
    top: 0;
    right:0 ;
  }
  .flowersLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    
    /* transform: rotate(180deg);  */
}
/* .Perfume{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg); 
} */

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}


.text {
    color: #d965ab;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px; /* حجم الخط */
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* ظلال خفيفة للنص */
    letter-spacing: 1.5px; /* تباعد بين الحروف */
}



/* contact */

.contact{
    width: 100%;
    min-height: 50vh;
    background-color: #f2f2f2; /* لون الخلفية الجديد */
    box-shadow: 0px 0px 8px #e1a3c898;
  margin-bottom: 150px;
  padding-bottom: 20px;

}
.statstitle3{
    font-size: 2.5rem;
    color: #d965ab;
    font-weight: bold;
    padding-top: 20px;
  
}
@media (max-width:701px){
    .cardimags{
        
        height:200px;
        border:none;
    }
    .flowersRight,
    .flowersLeft,
    .Perfume{
        width: 300px;
    }
    .flowersLeft{
        margin-bottom: 50px;
    }
    .text {
      
        font-size: 36px;
  
    }
  }